body {
    min-width: 400px;
    background-color: beige;
}

#icon {
    border-width: 0;
    margin-right: 4px;
}

#message {
    width: 100%;
    min-height: 10em;
}

#button-area {
    display: flex;
    justify-content: space-between;
}

#button-area button {
    font-size: 150%;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

#share {
    background-color: #86b300;
    border-width: 0;
    width: 100px;
    height: 40px;
    margin-top: 20px;
}

#close {
    background-color: white;
    border-width: 1px;
    width: 100px;
    height: 40px;
    margin-top: 20px;
}
